h1 {
  color: black;
}

hr {
  border-color: grey;
}

.title-area {
  display: flex;
  padding: 0 20px 5px 20px;
  background-color: pink;
  width: 100%;
  position: fixed;
  z-index: 1;
}

body {
  background-image: url("../images/pink_rice.png");
  height: 100%;
}

.main {
  width: auto;
  height: 100%;
  margin: 0 15% 0 15%;
  background-color: white;
  border: 1px solid red;
}

.container {
  width: auto;
  height: auto;
  min-height: 100%;
  margin: 0 15% 0 15%;
  margin-top: 90px;
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: white;
  position: absolute;
}

.icon {
  height: 170px;
  width: 170px;
  float: left;
  margin: 0 10px 5px 0;
}

.icon2 {
  height: 170px;
  width: 190px;
  float: left;
  margin: 0 10px 5px 0;
}

.ingredients {
  display: flex;
}
